---
import Layout from '../../layouts/Layout.astro';
import t from '../../i18n/fr.json';
---
<Layout title={t.legal.legal_notice} lang="fr">
    <div class="container section">
        <h1>{t.legal.legal_notice}</h1>
        <div class="legal-content">
            <p>
                Conformément au devoir d'information contenu dans la réglementation applicable, les données suivantes sont reflétées ci-dessous...
            </p>
        </div>
    </div>
</Layout>
<style>
    .legal-content h2 { margin-top: 2rem; margin-bottom: 1rem; }
    .legal-content p { margin-bottom: 1rem; }
</style>