---
import Layout from '../../layouts/Layout.astro';
import t from '../../i18n/en.json';
---
<Layout title="About Me | Erika Morales" lang="en">
    <section class="section">
        <div class="container">
            <h2>{t.aboutpage.title}</h2>
            <p>{t.aboutpage.p1}</p>
            <p>{t.aboutpage.p2}</p>
        </div>
    </section>
</Layout>